body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

.transactionHistory {
  margin: 5% auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.transactionHistory thead {
  background: #00bcd5;
}

.transactionHistory thead tr {
  height: 50px;
}

.transactionHistory thead tr th {
  width: 250px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
}